/* //Backgrounds */
:root {
  --bodybg: #222;
  --titlesBar: #333;
}
body {
  padding: 0;
  margin: 0;
  justify-content: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  align-items: center;
  /* height: 100vh;
  width: 100vw; */
  background-color: var(--bodybg);
}
.chart-bg {
  fill: var(--bodybg);
}

.first-line {
  stroke: rgb(22, 74, 187);
  stroke-width: 2;
}
.second-line {
  stroke: rgb(22, 187, 58);
  stroke-width: 2;
}
.third-line {
  stroke: rgb(211, 15, 162);
  stroke-width: 2;
}
.median-rating-line path {
  stroke: rgb(211, 15, 162);
  stroke-width: 2;
}
.rayline {
  stroke: #535353;
  stroke-width: 0.5;
  stroke-opacity: 0.3;
}

#chart {
  transform: rotate(4.5deg);
}
.titlelabel {
  fill: #eaeaea;
  opacity: 0.4;
}
.titlelabel:hover {
  opacity: 1;
}

h1,
h2 {
  font-family: itc-american-typewriter, serif;
  font-weight: 500;
  font-style: normal;
  color: #eaeaea;
}

.ratinglabel {
  opacity: 0;
  fill: #eaeaea;
  transition: opacity 1 ease-out;
}
.titledonut {
  fill: var(--titlesBar);
}
